* {
    color: white;
    margin: 5px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.show-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dash-button {
    background-color: #1a0f1f;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 65%;
}

.dash-button:hover{
    background-color: #000000;
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    padding: 10px;
}

