body {
    font-family: "Times New Roman", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.table-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    border: none;
}

th, td {
    padding: 8px;
    text-align: left;
}


tfoot {
    font-weight: bold;
}

.total-row {
    background-color: #f9f9f9;
    font-weight: bold;
}

.total-row td {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

.payment-table th, .payment-table td {
    border: none;
}

tbody{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.title {
    font-size: 40px;
}

.dashboard-button {
    margin-top: 20px;
    text-align: right;
    margin-right: 280px;
}

.dashboard-button a {
    padding: 5px 10px;
    background-color: #311131;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.dashboard-button a:hover {
    background-color: #0c0707;
    cursor: pointer;
}