<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Successful</title>
    <link rel="stylesheet" type="text/css" href="/css/account-created.css" th:href="@{/css/account-created.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Recursive:wght@300..1000&display=swap" rel="stylesheet">

    <style>
        body{ background-image: url('/images/landing-page.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

<div class="show-box">
    <h1>Your account has been successfully deleted!</h1>
    <h2>We are sad to see you go!</h2>
    <a class="dash-button" th:href="@{/login}" id="myLink" >Login</a>
</div>

</body>
</html>