<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Work Wizard - Register</title>
    <link rel="stylesheet" type="text/css" href="/css/landingPage.css" th:href="@{/css/register.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Recursive:wght@300..1000&display=swap" rel="stylesheet">

    <style>
        body{ background-image: url('/images/landing-page.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <img class="logo" th:src="@{/images/logo-font.png}" alt="logo">
    <div class="register-box">
        <div class="message" th:if="${message != null}">
            [[${message}]]
        </div>
        <p class="specialCharacters" th:if="${param.error}">Password must contain special characters (!, ?, *, etc.)</p>

        <h1>Register</h1>
        <form
                th:action="@{/register}"
                method="POST"
                role="form"
              th:object="${users}"
              >
            <p><input type="text" th:field="*{fullname}" placeholder="Full Name" class="input-box" required minlength="1" maxlength="25"/></p>
            <p><input type="text" th:field="*{username}" placeholder="Username" class="input-box" required minlength="1" maxlength="25"/></p>
            <p><input type="text" th:field="*{password}" placeholder="Password" class="input-box" required minlength="8" maxlength="20"/></p>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

            <button type="submit"  class="register-button">Register</button>
        </form>
        <span class="small-text"> Already Registered? <a th:href="@{/login}">Login</a></span>
    </div>
</body>
</html>