<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>View Consultation</title>
    <link rel="stylesheet" type="text/css" href="/css/viewConsultation.css" th:href="@{/css/viewConsultation.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Recursive:wght@300..1000&display=swap" rel="stylesheet">

    <style>
        body{ background-image: url('/images/dashbackground.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div class="view-consults">
    <h1>Consultation Details</h1>
    <div class="consultation-details" th:if="${consultations != null}">
        <div class="details">
            <p><strong class="label">Name:</strong> <span class="text" th:text="${consultations.name}"></span></p>
            <span id="nameError" style="color: red; display: none;">Name is required</span><br>
            <p><strong class="label">Phone Number:</strong> <span class="text" th:text="${consultations.phoneNumber}"></span></p>
            <span id="phoneNumberError" style="color: red; display: none;">Phone Number is required</span><br>
            <p><strong class="label">Date:</strong> <span class="text" th:text="${#temporals.format(consultations.date, 'MM/dd/yyyy')}"></span></p>
            <span id="dateError" style="color: red; display: none;">Date is required</span><br>
            <p><strong class="label">Notes:</strong> <span class="text" th:text="${consultations.notes}"></span></p>
            <span id="notesError" style="color: red; display: none;">Notes are required</span><br>
        </div>
    </div>
    <div class="buttons">
        <a class="dash-button" th:href="@{/dashboard}">Dashboard</a>
        <a class="update-button" th:href="@{/consultations/update/{id}(id=${consultations.id})}">Update</a>
        <form id="deleteForm" th:action="@{/consultations/{id}(id=${consultations.id})}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button class="delete-button" type="submit" onclick="confirmDelete()">Delete</button>
        </form>
    </div>


</div>

<script>
    function confirmDelete() {
        if (confirm('Are you sure you want to delete this consultation?')) {
            document.getElementById('deleteForm').submit();
        }
    }

        var formSubmitted = false;

        function validateName() {
        var name = document.getElementById('name').value;
        var nameError = document.getElementById('nameError');

        if (formSubmitted && name.trim() === '') {
        nameError.style.display = 'block';
        return false;
    } else {
        nameError.style.display = 'none';
        return true;
    }
    }

        function validatePhoneNumber() {
        var phoneNumber = document.getElementById('phoneNumber').value;
        var phoneNumberError = document.getElementById('phoneNumberError');

        if (formSubmitted && phoneNumber.trim() === '') {
        phoneNumberError.style.display = 'block';
        return false;
    } else {
        phoneNumberError.style.display = 'none';
        return true;
    }
    }

        function validateDate() {
        var date = document.getElementById('date').value;
        var dateError = document.getElementById('dateError');

        if (formSubmitted && date.trim() === '') {
        dateError.style.display = 'block';
        return false;
    } else {
        dateError.style.display = 'none';
        return true;
    }
    }

        function validateNotes() {
        var notes = document.getElementById('notes').value;
        var notesError = document.getElementById('notesError');

        if (formSubmitted && notes.trim() === '') {
        notesError.style.display = 'block';
        return false;
    } else {
        notesError.style.display = 'none';
        return true;
    }
    }

        function validateForm() {
        formSubmitted = true;
        var isNameValid = validateName();
        var isPhoneNumberValid = validatePhoneNumber();
        var isDateValid = validateDate();
        var isNotesValid = validateNotes();

        return isNameValid && isPhoneNumberValid && isDateValid && isNotesValid;
    }
</script>

</body>
</html>